h1{
    border-bottom: 2px solid rgba(17, 216, 189, 0.834);
}

h2{
    border: 2px solid #aaa
}

#datos{
    border-top: 4px dotted #f00;
    border-bottom: 4px dotted #f00;
    background-color: yellow;
}

#contenido{
    border: 2px dashed #0f0
}